<ion-header>
  <ion-toolbar>
    <ion-title>Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round" (click)="nuevo()">Nuevo</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">C.I.</ion-label>
          <ion-input type="number" [(ngModel)]="citaMedica.ci"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="citaMedica.nombre"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label>Dia</ion-label>
          <ion-datetime [(ngModel)]="citaMedica.dia" displayFormat="MMM D, YYYY" min="2020" max="2021" value="2020-01-01"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <ion-label>Hora</ion-label>
          <ion-datetime [(ngModel)]="citaMedica.hora" displayFormat="HH:mm"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Modulo</ion-label>
          <ion-select placeholder="Tipo" [(ngModel)]="citaMedica.modulo" >
            <ion-select-option *ngFor="let item of seccionsMedic" value="{{item.codigo}}" >{{item.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Doctor</ion-label>
          <ion-select placeholder="Nombre" [(ngModel)]="citaMedica.doctor" >
            <ion-select-option *ngFor="let item of doctorMedic" value="{{item.codigo}}" >{{item.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Recetario</ion-label>
          <ion-input [(ngModel)]="citaMedica.recetario"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
  </ion-grid>

  <ion-button shape="round" (click)="guardar()">Guardar</ion-button>
  <ion-button shape="round" (click)="consultar()">Consultar</ion-button>
  <ion-button shape="round" (click)="eliminar()">Eliminar</ion-button>

  

  <ion-grid>
    <ion-row *ngFor="let item of citasMedica">
      <ion-col size="2">
        <ion-item color="primary" (click)= "parametros(item.ci)">
          <ion-label position="fixed">{{item.ci}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="3">
        <ion-item >
          <ion-label position="fixed">{{item.nombre}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.dia}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item >
          <ion-label position="fixed" displayFormat="HH:mm">{{item.hora}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="3">
        <ion-item>
          <ion-label position="fixed">{{item.estado}}</ion-label>
        </ion-item>
      </ion-col> 
    </ion-row>  
  </ion-grid>

</ion-content>